<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wordboggle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wordboggle.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.wordboggle.PlayActivity" 
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity 
            android:name="com.example.wordboggle.HelpActivity" 
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.example.wordboggle.NewGameActivity" 
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.example.wordboggle.TwoPlayerGameActivity" 
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.example.wordboggle.DisplayDevices" 
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.example.wordboggle.TwoPlayerResults" 
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.wordboggle.Activity"
            android:label="@string/title_activity_" >
        </activity>
    </application>

</manifest>